* {
	/* reset default styles */
	margin: 0;
	padding: 0;
	box-sizing: border-box;  /* remove overflows toa ll elements */
}

.header {
	background-color: black;
	color: white;
	text-align: center;
	width: 1000px;
	height: 0 auto;
	margin: 0 auto;
	border: 20px;
	margin-top: 30px;
}
.main {
	text-align: center;
	width: 1000px;
	height: 0 auto;
	margin: 0 auto;
}

h1 {
	margin: 0 auto;
	padding-top: 40px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

h4	{
	color: grey;
	font-family: 'Crete Round', serif;
	margin-bottom: 30px;
}

nav {
	list-style-type: none;
}

li,
.column,
.home,
.about,
.contact,
.facebook,
.twitter,
.pinterest {
	display: inline-block;
	padding: 10px;
	color: lightgrey;
	text-decoration: none;
	font-family: 'Sanchez', serif;
}

a.column:hover,
a.home:hover,
a.about:hover,
a.contact:hover,
a.facebook:hover,
a.twitter:hover,
a.pinterest:hover {
	background-color: #5A5B5D;
}
.img {
	width: 1000px;
	height: 0 auto;
	margin: 0 auto;
}

main {
	width: 1000px;
	height: 0 auto;
	margin: 0 auto;
}

.mainTitle,
.main1 {
	text-align: center;
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: black;
}

a.main1:hover {
 	color: grey;
 	text-decoration: none;
}

.icon {
	text-align: center;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}

.imgMain {
	width: 90%;
	height: 610px;
	text-align: center;
}

hr {
	width: 90%;
	margin: 0 auto;
}